@{
    ViewBag.Title = "PopApps Monitoring";
}

<h2>PopApps Monitoring</h2>
<div class="container-fluid">
  <div class="row-fluid">
    <div style="background-color: #0ff" class="span1">
          latosx
    </div>
    <div style="background-color: #ffd800" class="span11">
        latodx
    </div>
  </div>
</div>